body{
    margin: 15px;
    padding: 15px;
}

.last{
    position: absolute;
    top: 60px;
    left:200px;
}
div.stars {
width: 270px;
display: inline-block;
}

input.star { 
display: none;
}

label.star {
float: right;
padding: 10px;
font-size: 36px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}


label.star:before {
content: '\f005';
font-family: FontAwesome;
}
.red{
color: red;
}
.grey{
    background-color: #f4f2f2;
}


.satisfy-col{
display: grid;
grid-template-columns: 35% 35% 35% 35% 35%;
position: absolute;
left: 25%;
justify-content: space-between;
}
.col-6{
display: grid;
grid-template-columns: 40% 30% 25% 25% 30% 25%;
position: absolute;

}

